h1 {
    color: rgba(43, 97, 56, 0.542);
    text-align: center;
    font-size: 150px;
    margin: 0;
    margin-top:50px;
}
.div{
    text-align: center;
    margin-top: 100px;
}
body{
    background-color: rgb(255, 255, 255);
}
.btn{
    align-items: center;
    margin-right: 500px;
    background-color: rgb(228, 237, 230);
    color: rgb(54, 95, 60);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgb(45, 43, 43);
    
}
.div2{
    text-align: center;
    margin-top: 50px;
}
  

